.pokemon-main-view {
  padding-top: $filter-bar-height;
  .pokemon-cards {
    padding: 50px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-auto-rows: 500px;
    justify-content: center;
    grid-gap: 16px;
  }
}
