$light: #EAF2E3;
$blue: #61E8E1;
$dark-blue: #2d6966;
$red: #F25757;
$yellow: #F3D768;
$dark-yellow: #F2CD60;
$font: rgba(0, 0, 0, 0.75);

$pokemon-light-blue: #3D7DCA;
$pokemon-dark-blue: #003A70;
$pokemon-yellow: #FFCB05;

$filter-bar-height: 75px;
